page-list {
  .item.item-trns {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: white;
  }


}
ion-content.menu{
  ion-list {
    .item {
      background: transparent;
    }
  }
}
